api:
  host: "localhost:8080"
  hostgRPC: "localhost:5051"

nats:
    name: "order"
    consumername: "restaurant"

db:
    conn: "postgresql://root:root@localhost:5444/restaurant?sslmode=disable"