api:
  host: "localhost:8080"
  hostgRPC: "localhost:5051"

nats:
    name: "order"
    consumername: "restaurant"
    host: "host.docker.internal:4222"

db:
    conn: "host=host.docker.internal port=5444 user=root password=root dbname=restaurant sslmode=disable"
